# OpenDataTools 支持加密数字货币数据

In [4]:
# 导入coin接口
from opendatatools import coin

# 注：数据来源 - cryptocompare.com
coin.set_proxies({"https" : "https://127.0.0.1:1080"})

In [14]:
# 获取数字货币的信息
# 从这里可以获取到数字货币的symbol，比如比特币BTC，以太币ETH
df, msg = coin.get_coin_list()
df.head(10)

,Algorithm,CoinName,FullName,FullyPremined,Id,ImageUrl,Name,PreMinedValue,ProofType,SortOrder,Sponsored,Symbol,TotalCoinSupply,TotalCoinsFreeFloat,Url
007,Scrypt,007 coin,007 coin (007),0,5294,/media/350595/007.png,007,N/A,PoW,263,False,007,989800,N/A,/coins/007/overview
1337,X13,1337,1337 (1337),0,20824,/media/350976/1337.png,1337,N/A,PoW/PoS,577,False,1337,314159265359,N/A,/coins/1337/overview
1CR,Scrypt,1Credit,1Credit (1CR),0,5406,/media/20175/1cr.png,1CR,N/A,PoW,374,False,1CR,92000000000,N/A,/coins/1cr/overview
1ST,N/A,FirstBlood,FirstBlood (1ST),1,28328,/media/351524/1st.png,1ST,N/A,N/A,759,False,1ST,93468691,N/A,/coins/1st/overview
2015,X11,2015 coin,2015 coin (2015),0,3744,/media/20180/2015.png,2015,N/A,PoW/PoS,33,False,2015,0,N/A,/coins/2015/overview
2BACCO,Scrypt,2BACCO Coin,2BACCO Coin (2BACCO),0,30912,/media/351869/2bacco.png,2BACCO,N/A,PoW/PoS,874,False,2BACCO,81454545,N/A,/coins/2bacco/overview
2GIVE,Scrypt,2GiveCoin,2GiveCoin (2GIVE),0,20910,/media/350986/2give.png,2GIVE,N/A,PoW/PoS,587,False,2GIVE,N/A,N/A,/coins/2give/overview
300,N/A,300 token,300 token (300),0,749869,/media/27010595/300.png,300,N/A,N/A,2212,False,300,300,N/A,/coins/300/overview
32BIT,X11,32Bitcoin,32Bitcoin (32BIT),0,30428,/media/351763/32bit.png,32BIT,N/A,PoW/PoS,863,False,32BIT,355000,N/A,/coins/32bit/overview
365,X11,365Coin,365Coin (365),0,33639,/media/352070/365.png,365,N/A,PoW/PoS,916,False,365,2300000000,N/A,/coins/365/overview

In [6]:
# 获取数字货币的实时行情
# 参数：目标币，支付币，交易所（支付币可以是多个，结果返回多个）
df, msg = coin.get_coin_price('BTC', 'USD,EUR', 'Bitfinex')
df

{'EUR': 5670.25, 'USD': 6566.5}

In [9]:
# 获取分钟线
# 参数：目标币，支付币，交易所
df, msg = coin.get_his_min('BTC', 'USD', 'Bitfinex')
df.head(20)

,close,high,low,open,time,volumefrom,volumeto
0,6457.01,6457.01,6453.90,6455.20,2018-06-19 00:01:00,0.2558,1651.26
1,6462.10,6462.10,6457.00,6457.01,2018-06-19 00:02:00,1.0300,6621.59
2,6465.00,6465.00,6462.10,6462.10,2018-06-19 00:03:00,7.2500,46881.14
3,6465.10,6465.40,6465.00,6465.00,2018-06-19 00:04:00,21.9600,141975.57
4,6462.60,6465.10,6459.00,6465.10,2018-06-19 00:05:00,16.8500,108918.69
5,6462.50,6462.60,6462.50,6462.60,2018-06-19 00:06:00,0.6809,4400.04
6,6462.50,6466.80,6462.50,6462.50,2018-06-19 00:07:00,30.1800,195040.31
7,6462.50,6462.60,6462.50,6462.50,2018-06-19 00:08:00,0.1700,1098.90
8,6455.10,6462.60,6454.50,6462.50,2018-06-19 00:09:00,25.0300,161746.29
9,6461.00,6461.30,6455.10,6455.10,2018-06-19 00:10:00,5.2600,33982.83
10,6460.90,6461.00,6460.90,6461.00,2018-06-19 00:11:00,0.9729,6286.07
11,6458.80,6460.90,6456.50,6460.90,2018-06-19 00:12:00,1.2800,8266.42
12,6455.70,6458.80,6455.70,6458.80,2018-06-19 00:13:00,2.3300,15046.40
13,6457.20,6457.20,6452.60,6455.70,2018-06-19 00:14:00,10.0700,65022.77
14,6460.10,6460.70,6455.20,6457.20,2018-06-19 00:15:00,28.3200,182947.86
15,6459.10,6461.00,6458.30,6460.10,2018-06-19 00:16:00,20.0200,129342.47
16,6459.80,6460.70,6458.69,6459.10,2018-06-19 00:17:00,30.6500,197995.45
17,6460.30,6460.60,6458.20,6459.80,2018-06-19 00:18:00,0.6565,4240.95
18,6460.90,6460.90,6460.30,6460.30,2018-06-19 00:19:00,10.7000,69144.59
19,6460.90,6460.90,6460.80,6460.90,2018-06-19 00:20:00,2.7600,17828.43

In [10]:
# 获取小时线
# 参数：目标币，支付币，交易所
df, msg = coin.get_his_hour('BTC', 'USD', 'Bitfinex')
df.head(20)

,close,high,low,open,time,volumefrom,volumeto
0,7919.10,7941.00,7857.30,7876.27,2018-03-29 01:00:00,828.95,6549768.36
1,7940.00,7946.00,7871.50,7919.10,2018-03-29 02:00:00,517.85,4096937.40
2,7896.80,7944.40,7871.22,7940.00,2018-03-29 03:00:00,597.43,4725013.81
3,7892.60,7948.50,7877.00,7896.80,2018-03-29 04:00:00,694.86,5498403.48
4,7869.50,7920.00,7815.70,7892.60,2018-03-29 05:00:00,954.03,7504879.02
5,7948.30,8005.00,7861.80,7869.50,2018-03-29 06:00:00,1365.85,10883810.85
6,7936.00,7970.90,7909.00,7948.30,2018-03-29 07:00:00,398.46,3163510.22
7,7946.82,7957.66,7905.00,7936.00,2018-03-29 08:00:00,417.86,3312474.51
8,7883.78,7973.00,7866.20,7946.82,2018-03-29 09:00:00,699.99,5540030.19
9,7895.00,7900.00,7848.70,7883.78,2018-03-29 10:00:00,636.35,5013345.23
10,7861.10,7895.10,7821.00,7895.00,2018-03-29 11:00:00,1009.63,7938397.87
11,7583.90,7861.10,7580.00,7861.10,2018-03-29 12:00:00,6547.33,50223450.09
12,7542.10,7667.26,7522.00,7583.90,2018-03-29 13:00:00,3298.22,25073834.39
13,7613.90,7626.00,7516.00,7542.10,2018-03-29 14:00:00,2708.02,20520845.56
14,7534.10,7617.90,7478.00,7613.90,2018-03-29 15:00:00,2710.50,20420485.62
15,7544.70,7581.70,7466.60,7534.10,2018-03-29 16:00:00,2047.73,15405287.49
16,7520.10,7572.00,7475.00,7544.70,2018-03-29 17:00:00,690.87,5199602.32
17,7476.80,7536.70,7419.00,7520.10,2018-03-29 18:00:00,2121.26,15856657.55
18,7474.00,7502.00,7426.70,7476.80,2018-03-29 19:00:00,1996.56,14906046.09
19,7500.00,7559.90,7467.00,7474.00,2018-03-29 20:00:00,1605.66,12061012.56

In [12]:
# 获取日线
# 参数：目标币，支付币，交易所
df, msg = coin.get_his_day('BTC', 'USD', 'Bitfinex')
df.tail(20)

,close,high,low,open,time,volumefrom,volumeto
1981,7521.0,7599.80,7329.19,7485.8,2018-06-01 08:00:00,18921.31,1.414552e+08
1982,7638.1,7698.80,7441.50,7521.0,2018-06-02 08:00:00,16212.57,1.236273e+08
1983,7718.0,7779.00,7600.00,7638.1,2018-06-03 08:00:00,13548.01,1.044172e+08
1984,7488.3,7764.00,7451.10,7718.0,2018-06-04 08:00:00,17659.04,1.336573e+08
1985,7621.9,7675.00,7372.00,7488.3,2018-06-05 08:00:00,16225.75,1.218829e+08
1986,7654.0,7700.00,7491.70,7621.9,2018-06-06 08:00:00,16375.07,1.244910e+08
1987,7688.9,7756.30,7624.70,7654.0,2018-06-07 08:00:00,10828.16,8.340476e+07
1988,7615.1,7697.00,7543.60,7688.9,2018-06-08 08:00:00,12095.39,9.209850e+07
1989,7498.5,7685.00,7463.40,7615.1,2018-06-09 08:00:00,6642.77,5.046706e+07
1990,6758.0,7498.60,6630.00,7498.5,2018-06-10 08:00:00,51853.79,3.618638e+08
1991,6873.3,6899.00,6629.70,6758.0,2018-06-11 08:00:00,22324.10,1.505832e+08
1992,6543.9,6873.40,6436.10,6873.3,2018-06-12 08:00:00,29725.36,1.979091e+08
1993,6295.1,6611.70,6107.88,6543.9,2018-06-13 08:00:00,43527.80,2.768046e+08
1994,6633.7,6736.52,6269.50,6295.1,2018-06-14 08:00:00,30378.99,1.974510e+08
1995,6385.0,6659.00,6350.00,6633.7,2018-06-15 08:00:00,19631.43,1.278926e+08
1996,6485.9,6559.70,6330.00,6385.0,2018-06-16 08:00:00,13659.66,8.815980e+07
1997,6438.4,6573.00,6424.80,6485.9,2018-06-17 08:00:00,8536.56,5.546437e+07
1998,6709.2,6827.90,6370.77,6438.4,2018-06-18 08:00:00,22902.26,1.508602e+08
1999,6735.5,6848.20,6655.00,6709.2,2018-06-19 08:00:00,17330.08,1.165402e+08
2000,6581.4,6739.90,6581.40,6735.5,2018-06-20 08:00:00,104.00,7.003855e+05